
@{
    ViewBag.Title = "UsersGetAll";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Kullanıcı Adı</th>
            <th scope="col">Adı</th>
            <th scope="col">Soyadı</th>
            <th scope="col">E-Posta</th>
            <th scope="col">Kullanıcı Tipi</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.UserID</th>
                <td>@item.UserName</td>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>@item.Mail</td>
                <td>@item.UserType.UserTypeName</td>
                <td><a href="/User/DeleteUser/@item.UserID" class="btn btn-rounded btn-danger ">Sil</a></td>
            </tr>
        }

    </tbody>
</table>